<html>
<head><title>Cart</title></head>

<body>
<div >
<table>
<tr th:each="cartItem, stat : ${cart}">         
     
     <td th:text="${cartItem.id}" ></td>
     <td th:text="${cartItem.userId}"></td>
     <td th:text="${cartItem.productId}" ></td>
     <td th:text="${cartItem.product.productName}" ></td>
     <td th:text="${cartItem.product.category.categoryName}"></td>
     <td th:text="${cartItem.quantity}" ></td>
     <td th:text="${stat.size}" ></td>
     
  </tr>
 </table>
</div>
</body>
</html>